.main__panel {
  border-bottom: 1px solid #cfcfcf; }

.editContainer {
  height: calc(100vh - 72px);
  overflow-y: auto; }

.headerContainer {
  height: 70px;
  width: 100%;
  background-color: #1d1d1d;
  position: relative; }
  .headerContainer .logo__img {
    position: absolute;
    top: 3px;
    left: 15px;
    display: inline-block;
    background: url("../../images/logo.png") no-repeat center center;
    width: 65px;
    height: 65px;
    background-size: 80%;
    margin: 0 10px 0 0;
    border-radius: 32.5px; }
  .headerContainer .submit__button {
    margin-top: 20px;
    margin-right: 20px;
    float: right; }

.question {
  width: 200px;
  background: gray; }
