.onBoardWrapper {
    background-color: #fff !important;
    .form {
        position: relative;
        z-index: 100;
        top: 75px;
        .selector__control {
            width: 300px;
            margin: 10px 0;
        }

        .text_field {
            margin-bottom: 10px;
            display: block;
            input {
                width: 300px;
            }
        }

        .password_field {
            width: 300px;
        }
    }

    .enter_but {
        margin-top: 20px;
    }

    .validationTrue {
        display: inline-block;
        position: relative;
        top: 12px;
        margin-left: 10px;
        font-size: 1em;
        color: red;
        visibility: hidden;
        opacity: 0;
    }

    .validationFalse {
        display: inline-block;
        position: relative;
        top: 12px;
        margin-left: 10px;
        font-size: 1em;
        color: red;
        visibility: visible;
        opacity: 1;
        transition: opacity 600ms, visibility 600ms;
    }

    .valid__icon {
        display: inline-block;
    }

    .valid__text {
        display: inline;
    }

    .toggleText {
        display: inline-block;
        position: relative;
        top: 11px;
        margin-top: 20px;
        margin-left: 10px;
        span {
            color: #ddc700;
        }
    }

    .success {
        position: relative;
        top: 11px;
        margin-left: 10px;
        display: inline-block;
        font-size: 1em;
        color: green;
        visibility: visible;
        opacity: 1;
        transition: opacity 600ms, visibility 600ms;
    }
}

.cloudImage {
    position: absolute;
    top: 20%;
    left: 5vw;
    width: 90vw;
    z-index: 100;
}

.bottomImg {
    position: absolute;
    left: 70%;
    width: 28%;
    top: 65px;
}