.result_wrapper {
  background: white; }

.header {
  font-size: 2.3rem;
  font-weight: 700;
  padding-left: 2%;
  color: #eb7125;
  position: absolute;
  border: 1px solid #eb7125;
  border-radius: 10px;
  padding: 20px;
  margin: 10px; }

.inline {
  display: inline-block; }

.lineheight {
  margin-top: 10px; }

.leader_row {
  border: 1px solid #dacaca;
  padding: 14px;
  margin: 2px;
  border-radius: 2px;
  display: flex;
  align-items: center; }
  .leader_row span {
    flex-grow: 1;
    display: inline-block;
    color: #eb7125; }

.marks {
  font-size: 2.5rem;
  float: right;
  color: #012b72bd; }

.name {
  color: #eb7125;
  font-size: 2.3rem; }

.countn {
  font-size: 2.3rem; }

.certentLogo {
  position: absolute;
  right: 30px;
  z-index: 1;
  height: 7rem;
  top: 10px; }

.challenge {
  width: 60%;
  top: 220px;
  right: 46px;
  position: absolute; }

.alexa {
  position: absolute;
  top: 500px;
  margin-left: 200px; }

.car {
  position: absolute;
  left: 100px;
  top: 300px; }

.time {
  font-size: 10px; }

.elapsed {
  padding-left: 40px;
  font-size: 1.4rem;
  color: #eb7125; }

.naspp {
  position: fixed;
  width: 9rem;
  right: 47px;
  bottom: 28px;
  display: none; }

.prizes {
  position: absolute;
  left: 200px;
  top: 220px;
  font-size: 2.6rem;
  color: #eb7125; }
