.AddPipeline {
  .paper {
    position: absolute;
    width: 400px;
    background-color: white;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 
                0px 5px 8px 0px rgba(0, 0, 0, 0.14), 
                0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    padding: 32px;
  }

  .start_but {
    float: left;
  }
  .cancel_but {
    float: right;
  }
  .form {
    width: 200px;
    margin: 0 auto;
  }
  .message {
    padding: 10px;
    color: red;
    font-size: 12px;
  }

  .pip_name {
    margin-right: 35px;
  }
}