.register_wrapper .login_form,
.login_wrapper .login_form {
  position: relative;
  z-index: 100; }
  .register_wrapper .login_form .selector__control,
  .login_wrapper .login_form .selector__control {
    width: 300px;
    margin: 10px 0; }
  .register_wrapper .login_form .text_field,
  .login_wrapper .login_form .text_field {
    margin-bottom: 10px;
    display: block; }
    .register_wrapper .login_form .text_field input,
    .login_wrapper .login_form .text_field input {
      width: 300px; }
  .register_wrapper .login_form .password_field,
  .login_wrapper .login_form .password_field {
    width: 300px; }

.register_wrapper .register_but,
.login_wrapper .register_but {
  margin-top: 20px; }

.register_wrapper .validationTrue,
.login_wrapper .validationTrue {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1em;
  color: red;
  visibility: hidden;
  opacity: 0; }

.register_wrapper .validationFalse,
.login_wrapper .validationFalse {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1em;
  color: red;
  visibility: visible;
  opacity: 1;
  transition: opacity 600ms, visibility 600ms; }

.register_wrapper .valid__icon,
.login_wrapper .valid__icon {
  display: inline-block; }

.register_wrapper .valid__text,
.login_wrapper .valid__text {
  display: inline; }

.register_wrapper .toggleText,
.login_wrapper .toggleText {
  display: inline-block;
  position: relative;
  top: 11px;
  margin-top: 20px;
  margin-left: 10px; }
  .register_wrapper .toggleText span,
  .login_wrapper .toggleText span {
    color: #ddc700; }

.register_wrapper .success,
.login_wrapper .success {
  position: relative;
  top: 11px;
  margin-left: 10px;
  display: inline-block;
  font-size: 1em;
  color: green;
  visibility: visible;
  opacity: 1;
  transition: opacity 600ms, visibility 600ms; }

.register_wrapper .goto_login,
.login_wrapper .goto_login {
  cursor: pointer; }

.login_wrapper .bottomImg {
  position: absolute;
  left: 20%;
  top: 73%;
  z-index: 1;
  height: 24%;
  width: 70%; }
