.home_wrapper {
  .login_form {
    width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    .selector__form {
      width: 300px;
      margin: 10px 0;
    }

    .text_field {
      input {
        width: 300px;
      }
      
      display: block;
    }

  }

  .continue_but {
    margin-top: 10px;
  }

  .validationTrue {
    position: relative;
    top: 7px;
    margin-left: 10px;
    display: inline-block;
    font-size: 1em;
    color: red;
    visibility: hidden;
    opacity: 0;
  }
  
  .validationFalse {
    position: relative;
    top: 7px;
    margin-left: 10px;
    display: inline-block;
    font-size: 1em;
    color: red;
    visibility: visible;
    opacity: 1;
    transition: opacity 600ms, visibility 600ms;
  }
  
  .valid__icon {
    display: inline-block;
  }
  
  .valid__text {
    display: inline;
  }

  .toggleText {
    margin-top: 20px;
    span {
      color: #ddc700;
    }
  }
}