:focus {
  outline: 0 !important; }

body {
  font-family: sans-serif; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 0; }

.AppLoader {
  text-align: center; }

body {
  font-family: 'Roboto', sans-serif !important;
  margin: 0; }

.nav a {
  border-bottom: none; }

.navbar-brand {
  position: relative;
  padding-left: 50px;
  border-bottom: none; }
  .navbar-brand span {
    color: #fff; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #33e0ff;
  background-color: transparent; }

@media screen and (min-width: 768px) {
  .root__container {
    width: 750px; } }

@media screen and (min-width: 992px) {
  .root__container {
    width: 970px; } }

@media screen and (min-width: 1200px) {
  .root__container {
    width: 1170px; } }

.root__container {
  margin: 0 auto;
  padding: 0 15px; }

.container {
  padding-top: 10px; }
